@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

body {
    margin: 0;
    font-family: "Quicksand", serif;
    background-color: #404040;
    color: #fdfaf3;
}